<div class="grid-container">
  <a class="card" *ngFor="let item of data; let i = index" [ngStyle]="{'background-color': getCardColor(i)}" [routerLink]="['/card-detail', item.id]">
    <h3 class="card-title">{{ item.name }}</h3>
    <p class="card-address">{{ item.address }}</p>
    <hr />
    <div class="card-info-row">
      <div class="card-info">
        <p>Active Jobs</p>
        <p>{{ item.activeJobCount }}</p>
      </div>
      <div class="card-info">
        <p>All Jobs</p>
        <p>{{ item.jobCount }}</p>
      </div>
    </div>
    <div class="card-info-row">
      <div class="card-info">
        <p>Active Workers</p>
        <p>{{ item.activeWorkerCount }}</p>
      </div>
      <div class="card-info">
        <p>Total Workers</p>
        <p>{{ item.workerCount }}</p>
      </div>
    </div>
    <div class="card-info">
      <p>Material Available</p>
      <p>{{ item.materialAvailable }}</p>
    </div>
  </a>
</div>
