  <div class="grid-container">
    <a class="card" *ngFor="let item of data; let i = index"  [ngStyle]="{'background-color': getCardColor(i)}" [routerLink]="['/job-detail', item.id, item.name]">
      <h3>{{ item.name }}</h3>
      <p>{{ item.materialConsumed }}</p>
      <p>Active Jobs: {{ item.activeJobCount }}/{{ item.totalJobCount }}</p>
    <p>Active Workers: {{ item.activeWorkerCount }}/{{ item.totalWorkerCount }}</p>
    <p>Materials Consumed: {{ item.materialConsumed }}</p>
    </a>
</div>