

body {
    background-color: #ffffff; /* Replace with your desired background color */
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  html, body {
    height: 100%;
  }
  
.card h3 {
    margin: 0 0 10px 0;
}

.card p {
    margin: 0;
}
  
  

  