

body {
    background-color: #c7c54f; /* Replace with your desired background color */
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  html, body {
    height: 100%;
  }
  
  /* Additional global styles can go here */
  